# Ignorar ambiente virtual
.venv/

# Ignorar caches do Python e Jupyter
__pycache__/
.ipynb_checkpoints/

# Ignorar arquivos temporários
*.pyc
*.pyo
*.pyd
*.log

# Ignorar arquivos de dados grandes
data/*.csv
data/*.xlsx
data/*.xls